{% extends "layout.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}" type="text/css"> <!-- Custom style -->
{% endblock %}

{% block content %}
	<h1>¡Muchas gracias!</h1><br>
	<p class="lead">Tu pedido <strong>{{ order }}</strong> ha empezado a prepararse, en breves lo tendrás en tu club</p><br>
	<p>
		<ul>
			{% for line in lines %}
				<li>{{ line.quantity }} x&nbsp;&nbsp;<strong>{{ line.nombre|raw }}</strong></li>
			{% endfor %}
		</ul>
	</p>
	<p class="lead">Total <strong>{{ total|number_format(2) }} €</strong></p>

{% endblock %}
