<!DOCTYPE html>
<html>
    <head>
        <title>Que Globo!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.ico')}}"/>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}" type="text/css"> <!-- CSS reset -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"> <!-- Gem style -->
        <link rel="stylesheet" href="{{ asset('css/home.css') }}" type="text/css"> <!-- Custom style -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <script src="{{ asset('js/modernizr.js') }}"></script> <!-- Modernizr -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body class="foo">
        <!-- Begin page content -->
        <main>
            <div class="container-fluid">
                <div class="text-center"><img class="img-responsive" src="{{ asset('img/cannabis.png') }}"/></div>
                {% if open and clubs is not empty %}
                    <div class="page-header"><h1>Escoge tu club</h1></div>
                    <div class="row">
                    {% for club in clubs %}
                      <div class="col-xs-6 col-md-4 col-lg-3">
                        <div class="thumbnail">
                          <div class="caption text-center">
                            <address>
                                <h4>{{ club.name }}</h4>
                                {{ club.address|raw }}
                            </address>
                            <p><a href="{{ app.url_generator.generate('shop', {'club': club.slug}) }}"><i class="fas fa-shopping-basket fa-2x"></i></a></p>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </main>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ asset('js/main.js') }}"></script> <!-- Gem jQuery -->
    </body>
</html>
