<!DOCTYPE html>
<html>
    <head>
        <title>Que Globo! - {{ club.name }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.ico')}}"/>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}" type="text/css"> <!-- CSS reset -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"> <!-- Gem style -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}

        <script src="{{ asset('js/modernizr.js') }}"></script> <!-- Modernizr -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body class="foo">
        {% set order_id = app.session.get('order_id') %}
        <header>
            <div id="logo"><a href="{{ app.url_generator.generate('shop', {'club': club.slug}) }}"><img src="{{ asset('img/vectorpaint.svg') }}" alt="Que Globo"></a></div>
            {% block cart_logo %}{% endblock %}
        </header>

        <!-- Begin page content -->
        <main>
            <div class="container">
              {% block content %}{% endblock %}
            </div>
        </main>

        {% block cart %}{% endblock %}

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ asset('js/main.js') }}"></script> <!-- Gem jQuery -->
        {% block scripts %}{% endblock %}
    </body>
</html>
