{% extends "layout.html.twig" %}

{% block cart_logo %}
	<div id="cd-cart-trigger">
		<a class="cd-img-replace" href="#0">Cart</a>
		<span class="badge cart-badge">{% if items > 0 %}{{ items }}{% endif %}</span>
	</div>
{% endblock %}

{% block content %}
	<div class="alert alert-success" role="alert" style="display:none;"></div>
	<div class="alert alert-danger" role="alert" style="display:none;"></div>

	{% for category,cat_products in products %}
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><strong>{{ category|capitalize }}</strong></li>
			{% for product in cat_products %}			
					<li class="list-group-item">
						{{ product.nombre|raw }}
						<span class="pull-right">
							<strong style="font-size:16px;">{{ product.greenhouse_price|number_format(2) }}€</strong>&nbsp;
							<a href="#"><i class="fas fa-plus-circle fa-lg" product="{{ product.id }}" order="{{ order_id }}"></i></a>
						</span>
					</li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}

{% block cart %}
    <div id="cd-shadow-layer"></div>
    <div id="cd-cart">
        <h2>Pedido {{ order_id }}</h2>
		<ul class="cd-cart-items">
			{% for line in lines %}
		    <li>
		        <span class="cd-qty">{{ line.quantity }}x</span> {{ line.nombre }}
		        <div class="cd-price">{{ line.total|number_format(2) }} €</div>
		        <a href="#" class="cd-item-remove cd-img-replace" line="{{ line.line_id }}">Remove</a>
		    </li>
			{% endfor %}
		</ul> <!-- cd-cart-items -->
		<div class="cd-cart-total"><p>Total <span>{{ total|number_format(2) }} €</span></p></div> <!-- cd-cart-total -->
		<div style="margin-top: -10px; margin-bottom: 15px;">
		<form>
			<div class="input-group">
				<span class="input-group-addon"><i class="fas fa-user"></i></span>
				<input name="member-id" type="text" class="form-control" placeholder="N&uacute;m. socio" aria-describedby="member-id">
			</div>
			<span id="member-id-error" class="help-block" style="display:none; color:red;"></span>

			<div class="input-group" style="margin-top:10px;">
				<span class="input-group-addon"><i class="fas fa-phone"></i></span>
				<input name="phone" type="text" class="form-control" placeholder="Tel&eacute;fono" aria-describedby="phone">
			</div>
			<span id="phone-error" class="help-block" style="display:none; color:red;"></span>

			<div class="checkbox">
				<label><input type="checkbox" name="legal"> Aceptar <a href="#" data-toggle="modal" data-target="#myModal">condiciones</a></label>
			</div>
			<span id="legal-error" class="help-block" style="display:none; color:red;"></span>
			<input type="hidden" name="club" value="{{ club.slug }}"/>
			<input type="hidden" name="order_id" value="{{ order_id }}">
			<span id="general-error" class="help-block" style="display:none; color:red;"></span>
		</form>		

		</div>
		<a href="#" class="checkout-btn">Pagar</a>

		<div class="text-center">
			<h5>Pago seguro vía Redsys</h5>
			<img src="{{ asset('img/logo-visa.png') }}">&nbsp;
			<img src="{{ asset('img/logo-mastercard.png') }}">
		</div>

		<div id="redsys" style="display:none;"></div>
    </div> <!-- cd-cart -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Condiciones</h4>
	      </div>
	      <div class="modal-body">{{ include('terms.html.twig') }}</div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
	      </div>
	    </div>
	  </div>
	</div>    
{% endblock %}

{% block scripts %}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
    $(function () {
    	function fill_cart(response) {
			$('.alert-success').delay(1500).fadeOut();
			$('.alert-success').html(response.message);
			$('.alert-success').show();
			$('.cd-cart-items').empty();		              
			$.each(response.lines, function (index, value) {
				$('.cd-cart-items').append("<li><span class='cd-qty'>" + value.quantity +"x</span> " + value.nombre + "<div class='cd-price'>" + parseFloat(value.total).toFixed(2) + "€</div><a href='#' class='cd-item-remove cd-img-replace' line='" + value.line_id + "'>Remove</a></li>");
			})
			if (response.items > 0) {
				$('.cart-badge').html(response.items);
			}
			else {
				$('.cart-badge').empty();
			}
			$('.cd-cart-total').empty();
			$('.cd-cart-total').append("<p>Total <span>" + response.total + " €</span></p>");
    	}

    	$('.fa-plus-circle').on('click', function(e){
    		e.preventDefault();
    		$('.alert').hide();
    		$.ajax({
    			type: 'post',
    			url: '{{ app.url_generator.generate('add_product')}}',
    			data: {'product':$(this).attr('product'),'order':$(this).attr('order')},
    			dataType: 'json',
    			success : function (response) {
		            if (response.result == 'success')
		            {
            			fill_cart(response);
		            }
		            else if (response.result == 'error')
		            {
		              $('.alert-danger').delay(1500).fadeOut();
		              $('.alert-danger').html(response.message);
		              $('.alert-danger').show();
		            }
		        }
    		});
    	});

    	$('.cd-cart-items').on('click', '.cd-item-remove', function(e){
    		$('.alert').hide();
    		$.ajax({
    			type: 'post',
    			url: '{{ app.url_generator.generate('delete_line')}}',
    			data: {'line':$(this).attr('line')},
    			dataType: 'json',
    			success : function (response) {
		            if (response.result == 'success')
		            {
            			fill_cart(response);
		            }
		            else if (response.result == 'error')
		            {
		              $('.alert-danger').delay(1500).fadeOut();
		              $('.alert-danger').html(response.message);
		              $('.alert-danger').show();
		            }
		        }
    		});
    	});

    	$('.checkout-btn').on('click', function(e) {
    		$('#member-id-error').hide();
    		$('#phone-error').hide();
    		$('#legal-error').hide();
    		$('#general-error').hide();
    		$.ajax({
    			type: 'post',
    			url: '{{ app.url_generator.generate('checkout') }}',
    			data: $('form').serialize(),
    			dataType: 'json',
    			success : function (response) {
		            if (response.result == 'success')
		            {
		            	$('#redsys').append(response.message);
		            	$('#redsys_form').submit();
		            }
		            else if (response.result == 'error')
		            {
		              $.each(response.errors, function (index, value) {
		              	$('#'+index+'-error').html('* ' + value);
		              	$('#'+index+'-error').show();
		              })
		            }
		        }
    		});
    	});

    	$('#myModal').on('shown.bs.modal', function () {
		  $('#myInput').focus()
		});
    });
  </script>
{% endblock %}
