<h5>CONDICIONES GENERALES DE UTILIZACIÓN DE LA WEB.</h5>

<h5>1) INTRODUCCIÓN.</h5>
Las presentes Condiciones Generales de Utilización del Portal, junto con las condiciones generales de contratación que rijan la prestación de los servicios, y/o las condiciones particulares que puedan establecerse, tienen por finalidad regular tanto la puesta a disposición de la información como las relaciones comerciales que surjan entre QUEGLOBO.COM y los usuarios de esta página web (www.queglobo.com).
<br><br>
Al utilizar esta página web o hacer un pedido a través de la misma, usted consiente quedar vinculado por estas Condiciones y por nuestras Políticas de Protección de Datos, por lo que si no está usted de acuerdo con todas las Condiciones y con las Políticas de Protección de Datos, no debe usar esta página web.
<br><br>
QUEGLOBO.COM podrá en todo momento y sin previo aviso, modificar las presentes Condiciones Generales, así como las Condiciones Generales de Contratación, y/o las condiciones particulares que, en su caso, se incluyan, mediante la publicación de dichas modificaciones en nuestra web con el fin de que puedan ser conocidas por los Usuarios, siempre antes de la visita a la web o a la adquisición de cualesquiera bienes ofertados en la misma.
<br><br>
Es su responsabilidad leerlas periódicamente, ya que resultarán aplicables aquellas que se encuentren vigentes en el momento de realización de pedidos o, en defecto de estos, el del uso de la página web.

<h5>2) TITULARIDAD DEL PORTAL.</h5>
En cumplimiento de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico, se informa que los Datos identificativos del responsable titular del portal son los siguientes:
<br><br>
DENOMINACIÓN SOCIAL: MARTOCCHI GROUP S.L. <br>
CIF: B-66602137 <br>
DOMICILIO SOCIAL: C/MADRAZO, Nº 137, BARCELONA(BARCELONA) <br><br>
A efectos aclaratorios MARTOCCHI GROUP S.L. quedará identificada en todo el documento como QUEGLOBO.COM.
<h5>3) PROPIEDAD INTELECTUAL E INDUSTRIAL. PROHIBICIÓN DE HIPERENLACES.</h5>
Todos los contenidos que se muestran en la página web www.queglobo.com, y en especial, diseños, textos, gráficos, logos, iconos, botones, software, nombres comerciales, marcas, dibujos industriales o cualesquiera otros signos susceptibles de utilización industrial y comercial están protegidos por la normativa de Propiedad Intelectual e Industrial ( R.D.L 1/96 que aprueba el Texto Refundido de la Ley de Propiedad Intelectual y por la Ley de Marcas 17/2001) y están sujetos a derechos de propiedad intelectual e industrial de QUEGLOBO.COM y /o de terceros titulares de los mismos, que han autorizado debidamente su inclusión en el Portal.
<br><br>
En ningún caso se entenderá que se concede licencia alguna o se efectúa renuncia, transmisión, cesión total o parcial de dichos derechos ni se confiere ningún derecho ni expectativa de derecho, y en especial, de alteración, explotación, reproducción, distribución o comunicación pública sobre dichos contenidos sin la previa autorización expresa de QUEGLOBO.COM.
<br><br>
No se podrá establecer ningún vínculo a esta web desde cualquier otra web sin el previo y expreso consentimiento de QUEGLOBO.COM.
<br><br>
La existencia de links en la web de QUEGLOBO.COM, salvo manifestación expresa en contrario, tiene una finalidad meramente informativa y en ningún caso supone sugerencia, invitación o recomendación sobre los mismos, por lo que QUEGLOBO.COM no acepta ningún tipo de responsabilidad por cualquier daño o pérdida derivado de su uso.
<br><br>
Estos enlaces no representan ningún tipo de relación entre QUEGLOBO.COM y los particulares o empresas titulares de los websites a los que puede accederse mediante estos enlaces. QUEGLOBO.COM se reserva el derecho de retirar de modo unilateral y en cualquier momento los links que aparecen en su web.
<h5>4) RESPONSABILIDAD DE QUEGLOBO.COM</h5>
i. QUEGLOBO.COM realiza todos sus esfuerzos por mantener actualizada su página web y porque el usuario pueda acceder a la misma en todo momento. Sin embargo, es posible que, por razones técnicas el visionado y funcionamiento de la página no sea correcto o completo. QUEGLOBO.COM no puede garantizar que su página web se encuentre en todo momento disponible, y por tanto, QUEGLOBO.COM no se hará responsable por los daños y perjuicios de naturaleza que pudieran derivarse de, con carácter meramente enunciativo y no limitativo <br>(i) la falta de disponibilidad de la web, inferencias, interrupciones, caídas, o suspensiones temporales de la página web, <br>(ii) virus informáticos, averías y/o desconexiones en el funcionamiento del sistema electrónico o en los aparatos y equipos informáticos, motivadas por causas ajenas a QUEGLOBO.COM, que impidan o retrasen la prestación de los servicios o la navegación; <br>(iii) Retrasos o bloqueos en el uso causados por deficiencias o sobrecargas de Internet o en otros sistemas electrónicos que puedan ser causados por terceras personas mediante intromisiones ilegítimas fuera del control de la Tienda y que no sean atribuibles a QUEGLOBO.COM; <br>(iv) Las divergencias de la información, documentación y/o demás contenido de la web que pudieren existir entre la versión electrónica y la versión impresa; <br>(v) De la imposibilidad de dar el Servicio o permitir el acceso por causas no imputables a QUEGLOBO.COM, incluidos supuestos de fuerza mayor.
<br><br>
iii. Los servicios de la sociedad de la información ofrecidos en esta web y no sometidos a contratación previa son ofrecidos al usuario sin contrapartida alguna y únicamente conllevan para el usuario la obligación de cumplir las normas de uso establecidas en este Aviso Legal. QUEGLOBO.COM no tiene, por tanto, respecto de estos servicios, obligación de cumplir determinados niveles de disponibilidad ni adoptar medidas de seguridad específicas. Se informa al Usuario de que las comunicaciones a través de redes abiertas no son seguras. Es responsabilidad del Usuario adoptar todas las medidas técnicas adecuadas para controlar razonablemente estos riesgos y evitar daños en sus equipos, pérdida de datos y robo de información confidencial.
<br><br>
iv. En el caso de usuarios menores de edad o incapaces, la utilización de la web será bajo la entera responsabilidad de sus padres, representantes o tutores legales, debiendo estos acompañar, supervisar o tomar las precauciones oportunas durante la navegación de aquellos por las páginas web. Por tanto y sin perjuicio de todo lo previsto como Aviso Legal; en su condición de padres, representantes o tutores legales, serán los responsables de que sus hijos menores o tutelados accedan a los servicios, productos o contenidos de QUEGLOBO.COM o se registren, por lo que les recomendamos acompañar, supervisar o tomar las precauciones oportunas (reglas de tiempo de uso de ordenador, ubicación del ordenador en zona común de la casa, etc.) durante la navegación de aquellos por las páginas web.
<br><br>
v. QUEGLOBO.COM podrá, sin necesidad de previo aviso, suspender temporalmente el contenido de la página web por razones de mantenimiento o reparación de sus sistemas e introducir los cambios que estime oportunos en la página web.
<h5>5) OBLIGACIONES DEL USUARIO.</h5>
i. El Usuario se obliga al cumplimiento de las presentes Condiciones Generales de Uso, en su caso las Condiciones Particulares que fueran de aplicación, así como cumplir las especiales advertencias o instrucciones de uso contenidas en las mismas o en la propia web.
<br><br>
ii. El Usuario debe realizar un uso lícito de los servicios de esta Web de acuerdo con la legalidad vigente, respetando los derechos de propiedad intelectual de QUEGLOBO.COM o de terceros.
<br><br>
iii. El Usuario garantiza que las actividades que desarrolle a través del sitio Web se adecuarán a la ley, la moral, el orden público, las buenas costumbres y, en ningún caso, resultarán ofensivas para el buen nombre e imagen comercial de QUEGLOBO.COM, otros Usuarios de la Web o para terceros.
<br><br>
iv. El Usuario empleará la diligencia adecuada a la naturaleza del servicio del que disfruta, y no realizará a través de los servicios que pone a su disposición QUEGLOBO.COM ninguna acción que cause daño o alteraciones de los contenidos u obstaculice el buen funcionamiento de la Web, comprometiéndose expresamente por el solo uso de la misma a no causar problemas técnicos de cualquier índole, transferir elementos susceptibles de portar virus informáticos o dañar, interferir o interceptar total o parcialmente la Web, así como a no intervenir o alterar el correo electrónico de otros Usuarios.

<h5>6) COMUNICACIONES.</h5>
A los efectos de las presentes Condiciones Generales, y para cualquier comunicación que sea precisa entre QUEGLOBO.COM y el Usuario, éstos deberán dirigirse al Servicio de Atención al Cliente mediante correo electrónico (enviado un mensaje a hola@queglobo.com).
<br><br>
Las comunicaciones de QUEGLOBO.COM al Usuario se realizarán conforme a los datos aportados por éste al registrarse en la página web. El Usuario acepta expresamente para todas las comunicaciones relacionadas con la utilización de la Tienda, y/o la adquisición de bienes, la utilización del correo electrónico como procedimiento válido para la remisión de dichas comunicaciones. Es responsabilidad del Usuario mantener actualizados los datos facilitados en la creación de su cuenta, especialmente los datos de contacto facilitados para la gestión de pedidos

<h5>7) NULIDAD DE LAS CLÁUSULAS.</h5>
Si cualquier contenido de las presentes Condiciones Generales de utilización del portal fuese declarada total o parcialmente nulo o ineficaz, dicha declaración afectará tan solo al contenido o parte de la mismo que resulte nulo o ineficaz subsistiendo en todo lo demás el resto de Condiciones Generales y teniéndose tal contenido o la parte del mismo que resulte afectado por no puesto, salvo que por resultar esencial a las presentes Condiciones Generales, hubiese de afectarlas de forma integral.

<h5>8) LEY APLICABLE Y JURISDICCIÓN.</h5>
Estas Condiciones Generales de acceso, navegación y uso del sitio Web, así como cualquier relación entre el Usuario y QUEGLOBO.COM se regirán por la legislación española.
<br><br>
Cualquier controversia que pudiera surgir o guarde relación con el uso de esta web será sometida a jurisdicción de los juzgados y tribunales del domicilio del consumidor de conformidad con lo dispuesto en el art. 90.2 del RDL 1/2007, de 16 de noviembre, por el que se aprueba el Texto Refundido de la ley General para la Defensa de los Consumidores y Usuarios y otras leyes complementarias.
<br><br>
En todo caso, será de aplicación la última Política de Privacidad aceptada por el Usuario.
<br><br>
<h5>TÉRMINOS Y CONDICIONES DE COMPRA.</h5>
<h5>1) INFORMACIÓN PREVIA.</h5>
QUEGLOBO.COM, informa que los trámites para efectuar la adquisición de bienes y/o obtener la prestación de los servicios ofrecidos, son aquellos que se describen en las presentes condiciones generales, así como aquellos otros específicos que se indiquen en pantalla durante la navegación y el proceso de compra, de manera que el Usuario declara conocer y aceptar dichos trámites como necesarios para acceder a los productos y servicios ofrecidos en esta web.
<br><br>
Al hacer uso de esta página web y realizar pedidos a través de la misma, el usuario se compromete a:
<br><br>
1. Hacer uso de esta página web única y exclusivamente para realizar pedidos legalmente válidos.
<br>
2. No realizar ningún pedido falso o fraudulento. Si razonablemente se pudiera considerar que se ha hecho un pedido de esta índole estaremos autorizados a anularlo e informar a las autoridades competentes.
<br>
3. Facilitarnos su dirección de correo electrónico, dirección postal y/u otros datos de contacto de forma veraz y exacta para la gestión de los pedidos, y mantener actualizados dichos datos. Si no nos facilita usted toda la información que necesitamos, no podremos cursar su pedido.
<br>
4. Al realizar un pedido a través de esta página web, usted declara ser mayor de 18 años y tener capacidad legal para celebrar contratos.

<h5>2) REALIZACIÓN DE PEDIDOS.</h5>
i. La prestación del servicio se hace efectiva desde el establecimiento QUEGLOBO.COM más próximo al domicilio indicado en la pantalla correspondiente, por lo que, en cualquier caso debe estarse a las condiciones particulares que puedan establecerse por cada uno de los establecimientos, en cuanto a plazos de entrega, formas de pago, pedidos mínimos para entrega a domicilio, y procedimientos para resolver posibles incidencias.
<br>
ii. Para poder acceder a la prestación de los servicios ofertados a través de la web el Usuario puede acceder a través de su cuenta (si se hubiera registrado previamente), o bien realizar su pedido “sin registrar”. Para acceder como usuario registrado deberá introducir su correo electrónico y la contraseña facilitada en el proceso de registro. El Nombre de Usuario y la Contraseña son elementos identificadores y habilitadores para acceder a los servicios y tienen carácter personal e intransferible.
<br>
iii. Para proceder a la adquisición de los distintos productos ofertados, el Usuario deberá seguir todas las indicaciones e instrucciones recogidas en cada pantalla, y en su caso facilitar los datos que sean requeridos para la gestión del pedido, determinando en cada formulario los datos que resultan obligatorios para el proceso de compra. Una vez que el Usuario haya seleccionado en la página web todos los productos de compra deseados, deberá seleccionar la opción “Finalizar”, y aparecerá en la pantalla correspondiente los productos incluidos en su compra con el precio final (IVA y gastos de envío incluidos), junto a las ofertas aplicables a su pedido, siendo en este momento cuando el usuario selecciona la oferta que considere oportuna.
<br>
iv. Todos los pedidos están sujetos a la disponibilidad de los productos en el establecimiento de referencia, si hubiera dificultades en cuanto al suministro o no quedaran artículos en stock, el establecimiento se pondrá en contacto con el usuario para informarle, ofrecerle un producto alternativo y /o en su caso reembolsarle el importe que pudiera haber abonado.
<br>
v. Confirmación del pedido: Finalizado el proceso de compra aparece la opción de confirmación del pedido, en la que aparecerán relacionados los productos adquiridos, siendo responsable el propio usuario de revisar y confirmar los productos, los precios y las ofertas seleccionadas en su caso. Una vez confirmado el pedido y recibida la orden del pedido, QUEGLOBO.COM enviará a su cliente un albarán por correo electrónico confirmando la compra.
<br>
vi. Durante el proceso de compra el Usuario debe seleccionar la hora de reparto o de entrega a domicilio del pedido, si bien el tiempo estimado para proceder a la entrega de los pedidos puede estar sujeto a posibles variaciones por circunstancias ajenas a QUEGLOBO.COM.

<h5>3) DESISTIMIENTO.</h5>
QUEGLOBO.COM informa al Usuario que no tiene obligación de enviar al consumidor un documento de desistimiento para poder revocar la contratación del servicio ofrecido a través de nuestra web en los plazos legales, al encontrarse dentro de las excepciones establecidas en el Artículo 102 y 103 del Real Decreto Legislativo 1/2007, de 16 de noviembre, por el que se aprueba el texto refundido de la Ley General para la Defensa de los Consumidores y Usuarios y otras leyes complementarias, en virtud de los cuales se establece que no cabe el derecho de desistimiento en los contratos de suministro de bienes confeccionados conforme a las especificaciones del consumidor o claramente personalizados, o que, por su naturaleza, no puedan ser devueltos o puedan deteriorarse o caducar con rapidez.

<h5>4) PRECIOS.</h5>
En el momento de la compra se mostrará el precio final por producto en Euros, incluido el IVA.
<br><br>
Algunas de las ofertas y promociones que aparecen en la web son exclusivas para los pedidos realizados a través de la misma, no siendo válidas en el ámbito de pedidos realizados telefónicamente o en el propio establecimiento.

<h5>5) PAGOS.</h5>
En la pantalla correspondiente al pago del pedido, aparecerán, señalizados con los logotipos correspondientes los distintos medios de pago disponibles en el establecimiento de referencia, pudiendo elegir el que le resulte más conveniente.
<br><br>
En el caso de pagos realizados en efectivo en pedidos a domicilio, se le pedirá que indique si necesita cambio para abonar el pedido, y en su caso el importe que precisa. En caso de que no indique nada el repartidor sólo llevará consigo cambio de 10 €.
<br><br>
Los distintos medios de pago con los que puede contar cada establecimiento son los siguientes:
<br>
•	Efectivo <br>
•	Tarjeta de crédito-débito.
<br><br>
Podrá utilizar como medio de pago tarjetas, cuando se indiquen los logotipos correspondientes a las tarjetas aceptadas en cada establecimiento: Visa, Mastercard, American Express y Affinity Card.
<br><br>
Las tarjetas de crédito estarán sujetas a comprobaciones y autorizaciones por parte de la entidad emisora de las mismas, pero si dicha entidad no autorizase el pago, no nos haremos responsables por ningún retraso o falta de entrega y no podemos formalizar ningún contrato con el Usuario. Al autorizar el pago con la tarjeta facilitada está confirmando que es el titular de la tarjeta.
<br><br>
El sitio web utiliza técnicas de seguridad de la información generalmente aceptada en la industria, tales como firewalls, procedimientos de control de acceso y mecanismos criptográficos, todo ello con el objeto de evitar el acceso no autorizado de datos. Para lograr estos fines, el usuario/cliente acepta que el prestador obtenga datos para efecto de la correspondiente autenticación de los controles de acceso
<br><br>
Política de devolución o retorno de pagos con tarjeta:
<br><br>
En los casos en que se demuestre que procede la devolución o abono al usuario de los pagos realizados con tarjetas, Telepizza procurará realizar el reembolso correspondiente en cuenta en el plazo de 10 días hábiles.

<h5>6) RECLAMACIONES.</h5>
El Usuario puede formular una queja o reclamación al Servicio de Atención al Cliente mediante correo electrónico (enviado un mensaje a hola@queglobo.com.
<br><br>
Además QUEGLOBO.COM dispone de Hojas de Reclamaciones, a disposición de sus clientes en el establecimiento de referencia. Recomendamos a los usuarios que tramiten su reclamación en el establecimiento encargado de la prestación efectiva del servicio.
<br><br>
Conforme a lo dispuesto en el Art. 14.1 del Reglamento nº 524/2013 de la UE, le informamos que la Comisión Europea facilita una plataforma online de resolución de conflictos, que se encuentra disponible en el siguiente enlace: http://ec.europa.eu/consumers/odr/

